.head {
  background-color: #d32d27;
  height: 50px;
  width: 100%;
  display: flex;
}

.head .categorylist {
  width: 90%;
  height: 100%;
  overflow: hidden;
}

.head .categorylist .nav {
  flex-wrap: nowrap;
}

.head .categorylist .nav div {
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
