@charset "UTF-8";
footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  font-size: 32px;
  border-top: solid 1px #ccc;
  /*no*/
}

footer div {
  width: 25%;
  text-align: center;
  color: #666;
}

footer div.on {
  color: #d22121;
}

footer div i.iconfont {
  display: block;
  font-size: 48px;
  height: 52px;
  line-height: 52px;
}

footer div i.icon-wodedingdan {
  font-size: 44px;
}

header {
  background-color: #d22121;
}

header .header-wrap {
  padding: 14px 0;
}

header form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

header .site {
  font-size: 32px;
  height: 48px;
  color: #fff;
  width: 24%;
  text-align: center;
}

header .search {
  outline: none;
  border: none;
  width: 70%;
  height: 48px;
  border-radius: 30px;
  padding-left: 50px;
}

header .icon-sousuo {
  position: absolute;
  font-size: 40px;
  height: 0px;
  color: #8a8a8a;
  margin-left: 5px;
  left: 24%;
  margin-top: -4px;
}

.swiper-wrapper span {
  display: inline-block;
  padding: 15.64% 50%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
}

.category {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 28px;
}

.category > div {
  width: 20%;
  text-align: center;
  color: #666;
}

.category > div div {
  padding: 38% 50%;
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.category > div span {
  color: #666;
  padding: 5% 0;
  display: block;
}

.trumpt {
  clear: both;
  border-top: solid 1px #eee;
  /* no*/
  background-color: #faf7bb;
  width: 100%;
  z-index: 4;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
}

.trumpt .dsmall {
  font-size: 30px;
  padding: 0 2px 0 4px;
  text-align: center;
  box-sizing: border-box;
}

.trumpt .dsmall i {
  color: #d22121;
}

.trumpt .gg2 {
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.trumpt .gg2 ul {
  height: 100%;
  overflow: hidden;
  margin-bottom: 0px;
  white-space: nowrap;
  color: #e24e49;
  padding: 0;
}

.trumpt .gg2 ul li {
  padding: 0 10px;
  text-align: center;
  display: inline-block;
}

.trumpt .gg2 ul li p {
  color: #e24e49;
  display: inline-block;
  padding: 0;
  height: 50px;
  line-height: 50px;
  font-size: 28px;
}

#scroll_begin,
#scroll_end {
  display: inline-block;
  overflow: hidden;
}

/* 本例子css */
.infoList {
  height: 48px;
  margin: 0;
  padding: 0;
}

.txtMarquee-left {
  font-size: 28px;
  position: relative;
  border-top: 1px solid #ccc;
  /* no*/
  border-bottom: 1px solid #ccc;
  /* no*/
}

.txtMarquee-left:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

.txtMarquee-left .hd {
  margin: 0px;
  /* overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  */
  padding: 1% 2%;
  width: 26%;
  float: left;
}

.txtMarquee-left .hd span {
  background: url(../../images/topline.png) no-repeat 50% 50%/contain;
  width: 100%;
  height: 48px;
  display: block;
  padding: 0;
}

.txtMarquee-left .hd .prev,
.txtMarquee-left .hd .next {
  display: block;
  width: 5px;
  height: 9px;
  float: right;
  margin-right: 5px;
  margin-top: 10px;
  overflow: hidden;
  cursor: pointer;
  cursor: pointer;
  /* background:url("../images/arrow.png") no-repeat; */
}

.txtMarquee-left .hd .next {
  background-position: 0 -50px;
}

.txtMarquee-left .hd .prevStop {
  background-position: -60px 0;
}

.txtMarquee-left .hd .nextStop {
  background-position: -60px -50px;
}

.txtMarquee-left .bd {
  margin: 0px;
  padding: 1% 2%;
  width: 72%;
  float: left;
  /* 用 !important覆盖SuperSlide自动生成的宽度，这样就可以手动控制可视宽度。 */
}

.txtMarquee-left .bd .tempWrap {
  width: 100% !important;
}

.txtMarquee-left .bd ul {
  overflow: hidden;
  zoom: 1;
}

.txtMarquee-left .bd ul li {
  margin-right: 60px;
  height: 48px;
  line-height: 48px;
  text-align: left;
  display: inline-block;
  width: auto !important;
  /* 用 width:auto !important 覆盖SuperSlide自动生成的宽度，解决文字不衔接问题 */
}

.txtMarquee-left .bd ul li span {
  color: #999;
}
