@import '../_base.scss';
.myhead {
    @include flex-row;
    .headimg {
        width: 180px;
        height: 180px;
        background:url(../../images/defaulthead.jpg) no-repeat center center/cover;
    }
    .usernick {
        width: calc(100% - 2.4rem);
    }
}

.mybody1 {
    @include flex-row;
    div {
        width: 33.333%;
        text-align: center;
    }
}

.mybody2 {
    @include flex-row;
    div {
        width: 50%;
        text-align: center;
    }
}

.out{
    position: absolute;
    bottom: 80px;
    width: 94%;
    margin-left: 3%;
    background: #d32d27;
    text-align: center;
    border-radius: 20px;
    color:#fff;
    padding:15px 0;
}
a.out:active,a.out:link{
    color:#fff;
}