@charset "utf-8";
$mainColor:#d22121;
$fontColor:#666;
@mixin flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // display: -webkit-flex;
    // -webkit-flex-wrap: wrap;
    // flex-align: start;
    // align-content: flex-start;
    // flex-flow: row wrap;
    // justify-content: flex-start;
}

@mixin outlinenone {
    outline: none;
}